ai:
  api_url: ""
  api_key: ""
  ai_model_name: "gemma3:4b"
yiyan:
  status: "ON"
  api_url: "https://v1.hitokoto.cn"
context:
  enabled: true
  local: "context.md" # /tmp/context.txt
mcp:
  json: "./mcp.json"
logo:
  logo_txt: "./ascii-logo.txt"